
/* Displays smaller than 640px */

/* hide unnessecary elements */
.aktuellesContent article img {
	display: none;
}

.aktuellesContent article p {
	display: none;
}

#sidebar-right {
	display: none;
}



/* Allgemeine Formate */

body {
	font: normal 1em/20px Arial, Helvetica, sans-serif;
	color: #333;
	background: #e9e4db;
}

.aktuellesContent {
	background: #e9e4db;
	border-bottom: 2px solid #cfcac2;
	margin-top: 2.5em;
}

 /* Start Mobile Navigation */
	/* Navigation Button
	-------------------------------------------------------- */

	header .nav-button {
		display: block;
		position: absolute;
		top: 6px;
		left: 80%;
		width: 50px;
		height: 30px;
		background: url('../images/menu-icon-large.png'), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background: url('../images/menu-icon-large.png'),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background: url('../images/menu-icon-large.png'),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background: url('../images/menu-icon-large.png'),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
		cursor: pointer;
		border: 0 none;
		border-bottom: 1px solid rgba(255,255,255,.1);
		box-shadow: 0 0 4px rgba(0,0,0,.7) inset;
		border-radius: 5px;
		z-index: 998;
		text-indent: -9999px;
	}

	header .nav-button:hover { 
		background-color: rgba(0,0,0,.1); 
	}
	header .nav-button.open {
		background: url('../images/close-icon-large.png'), -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background: url('../images/close-icon-large.png'),    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background: url('../images/close-icon-large.png'),     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background: url('../images/close-icon-large.png'),      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-position: center center;
		background-repeat: no-repeat;
		background-size: 21px, 100%;
	}

	/* Navigation Bar
	-------------------------------------------------------- */

	/*body { padding-top: 50px; } */

	header .primary-nav {
		width: 100%;
		float: none;
		background-color: #238be3; /* change the menu color */
		background-image: -webkit-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-image:    -moz-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-image:     -ms-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		background-image:      -o-linear-gradient(top, rgba(0,0,0,0), rgba(0,0,0,.2));
		display: block;
		height: 41px;
		margin: 0;
		padding: 0;
		overflow: hidden;
		box-shadow: 0 1px 2px rgba(0,0,0,.6);
		position: absolute;
		top: 0px;
		left: 0px;
		z-index: 997;
		clear: both;
	}
	header .primary-nav li {
		display: none;
		width: 100%;
		font-family: Arial;
	}
	header .primary-nav li a {
		display: block;
		width: 90%;
		padding: 10px 5%;
		font-size: 14px;
		font-weight: bold;
		text-shadow: -1px -1px 0 rgba(0,0,0,.15);
		color: white;
		text-decoration: none;
		border-bottom: 1px solid rgba(0,0,0,.2);
		border-top: 1px solid rgba(255,255,255,.1); 
	}
	header .primary-nav li a:hover {
		background-color: rgba(0,0,0,.5);
		border-top-color: transparent;
	}
	header .primary-nav > li:first-child {
		border-top: 1px solid rgba(0,0,0,.2);
	}

	/* Toggle the navigation bar open  */

	header .primary-nav.open { 
		height: auto; 
		padding-top: 50px;
	}
	header .primary-nav.open li { 
		display: block; 
	}

	/* Submenus – optional .parent class indicates dropdowns */

	header .primary-nav > li:hover > a {
		background: rgba(0,0,0,.5);
		border-bottom-color: transparent;
	}
	header .primary-nav li.parent > a:after {
		content: "▼";
		color: rgba(255,255,255,.5);
		float: right;
	}
	header .primary-nav li.parent > a:hover {
		background: rgba(0,0,0,.75);
	}
	header .primary-nav li ul {
		display: none;
		background: rgba(0,0,0,.5);
		border-top: 0 none;
		padding: 0;
	}
	header .primary-nav li ul a {
		border: 0 none;
		font-size: 12px;
		padding: 10px 5%;
		font-weight: normal;
	}
	header .primary-nav li:hover ul {
		display: block;
		border-top: 0 none;
	}

 
/* End Mobile Navigation */

/* Content */

#aktuelles {
	background: #fff;
	padding-top: 20px;
	box-shadow: 0 0 0 1px #dbd7ce, 0 2px 0 #cfcac2, 0 2px 5px #cfcac2;
	-moz-box-shadow: 0 0 0 1px #dbd7ce, 0 2px 0 #cfcac2, 0 2px 5px #cfcac2;
	-webkit-box-shadow: 0 0 0 1px #dbd7ce, 0 2px 0 #cfcac2, 0 2px 5px #cfcac2;
	position: relative;
}



/* Footer */

footer {
	width: 100%;
	float: left;
	clear: both;
	padding: 10px 0 10px 5px;
	background: #fff;
	border-top: 10px solid #fff;
}

footer #footerInner {
	margin: 0 auto;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
	font-size: 15px;
	position: relative;
}

#footerInner #adresse {
	float: left;
	color: #999;
	margin: 10px 0 20px 0;
	padding: 10px 0 0 0;
	font-style: italic;
	line-height: 22px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
		}

#footerInner aside {
	float: left;			
	color: #999;
	margin: 10px 0 20px 20px;
	padding: 10px 0 0 0;
	font-style: italic;
	line-height: 22px;
	font-family: myriad-pro-1,myriad-pro-2, Arial, Helvetica, sans-serif;
}

#navlist
{
margin-left: 0;
padding-left: 0;
list-style: none;
}

#navlist li 
{
padding-left: 25px;
background-repeat: no-repeat;
background-position: 0 .2em;
}

#email {
	background-image: url(images/icoMail.png);
}


#telefon {
	background-image: url(images/icoPhone.png);
}

/* Ende Footer  */
